.sidebar {
  float: right;
  background-color: #b32d00;
  width: 25%;
  padding: 5px;
  margin: 5px;
  border: solid 4px;
}
.date {
  float: left;
  width: 25%;
}

.venue {
  float: left;
  width: 25%;
}
.city {
  float: left;
  width: 25%;
}
.buy {
  float: left;
  width: 25%;
}
img {
  width: 75%;
}
h3 {
  text-align: center;
  font-size: 30px;
}
body {
  background-image: url("../img/deltarae.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
